* {
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 60px;
  width: 60px;
}

#pixel-board {
  margin-top: 20px;
  line-height: 0%;
  width: auto;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

#clear-board {
  margin-top: 10px;
}

#preto {
  background-color: black;
}

#vermelho {
  background-color: red;
}

#azul {
  background-color: blue;
}

#amarelo {
  background-color: yellow;
}
