* {
  text-align: center;
}

#title {

};

#color-palette {
}

.color {
border: 1px solid black;
display: inline-block;
height: 80px;
width: 80px;
}

#pixel-board {
  line-height: 0%;
  width: auto  ;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

#preto {
  background-color: black;
}

#vermelho {
  background-color: red;
}

#azul {
  background-color: blue;
}

#amarelo {
  background-color: yellow;
}